@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.container {
  width: 90%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

/* NavBarComponent */
.nav {
  position: absolute;
  right: 0%;
  width: 100%;
}
.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5em 0 3em 0;
  width: 90%;
}

.mobile-menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  position: absolute;
  top: 0;
  right: 0;
  width: 254px;
  height: 100vh;
  overflow: hidden;
  z-index: 99;
}
.close-icon {
  position: relative;
  top: 40px;
  right: -90px;
}
.mobile-menu-div {
  position: relative;
  top: 11.5%;
  width: 85%;
  margin-left: auto;
}
.mobile-menu-div ul {
  list-style: none;
  text-align: left;
}
.mobile-menu-div span {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.mobile-menu-div li {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  margin-bottom: 2em;
  text-transform: uppercase;
}
.mobile-menu-div li:hover {
  border-right: 4px solid #fff;
  height: 21px;
}

.mobile-menu-div li a {
  color: #fff;
  text-decoration: none;
}

/* HeroComponent */
.hero {
  background-image: url('/public/assets/home/background-home-mobile.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.hero-text-first {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  line-height: 19px;
  padding-top: 8.5em;
  text-transform: uppercase;
}
.hero-space-title {
  color: #fff;
  font-family: 'Bellefair', serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 100px;
  padding: .2em 0;
  text-transform: uppercase;
}
.hero-text-second {
  color: #D0D6F9;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
}
.explore {
  border: none;
  border-radius: 100%;
  background-color: #fff;
  color: #0B0D17;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 23px;
  letter-spacing: 1.25px;
  padding: 68px 27.5px 59px 29.5px;
  margin-top: 81px;
  text-transform: uppercase;
}

/* DestinationComponent */
.bg-destinations {
  background-image: url("/public/assets/destination/background-destination-mobile.jpg");
  background-position: top;
  background-size: cover;
  height: 100vh;
}
.pick-destination {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  line-height: 19px;
  text-transform: uppercase;
}
.pick-destination span {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2.7px;
  line-height: 19px;
  opacity: 0.25;
}

.map-destination {
  display: inline-block;
}
.text-destinations {
  /* border: 1px solid red; */
  padding-top: 8.5em;
  text-align: center;
}
.img-destination {
  margin-top: 32px;
  margin-bottom: 36px;
  width: 170px;
  height: 170px;
}
.map-destination {
  width: 25%;
}
.map-destination ul li {
  color: #D0D6F9;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.3625px;
  list-style: none;
  text-transform: uppercase;
  padding-bottom: .5em;
}
.map-destination ul li:hover {
  border-bottom: 4px solid #fff;
}
.name-destination {
  color: #fff;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 64px;
  text-transform: uppercase;
  margin-top: 20px;
}
.description {
  color: #D0D6F9;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 32px;
}
.top-line {
  border-top: 1px solid #383B4B;
  padding: 1.3rem 0;
}
.avg-distance {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.3625px;
  line-height: 17px;
  text-transform: uppercase;
  padding-bottom: .8em;
}
.destination-distance {
  color: #fff;
  font-family: 'Bellefair', serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}
.est-travel {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.3625px;
  line-height: 17px;
  text-transform: uppercase;
  padding-top: 2em;
  padding-bottom: 12px;
}
.destination-travel {
  color: #fff;
  font-family: 'Bellefair', serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}

/* Crew Component */
.bg-crew {
  background-image: url("/public/assets/crew/background-crew-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.text-crew {
  padding-top: 8.5em;
}
.meet-crew-p {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.meet-crew-p span {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;                     
  opacity: 0.25;
}
.image-crew {
  height: 327px;
  width: 233px;
  margin-top: 2em;
}
.border-div {
  border-top: 1px solid #383B4B;
}
.map-div-crew {
  display: inline-block;
  width: 10%;
}
.map-div-crew button {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 2em;
  padding: .5em;
  opacity: 0.17;
  z-index: 1;
}
.map-div-crew button:hover {
  opacity: 1;
}
.role-crew {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-top: 2em;
  text-transform: uppercase;
  color: #FFF;
  opacity: 0.5;
  z-index: 1;
}
.role-name {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  margin-top: 8px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #FFF; 
  z-index: -1;
}
.role-bio {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: #D0D6F9;
}

/* TechComponent */ 
.tech-bg {
  background-image: url("/public/assets/technology/background-technology-mobile.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh
}
.tech-text {
  padding-top: 8.5em;
}
.space-launch-p {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.space-launch-p span {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  opacity: 0.25;
}
.tech-image {
  margin-top: 2em;
}
.map-div-tech {
  display: inline-block;
  width: 18%;
}
.map-div-tech button {
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 100px;
  color: #fff;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  margin: 34px 0 26px 0;
}
.map-div-tech button:hover {
  background-color: #fff;
  color: #0B0D17;
}
.terminology {
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2.3625px;
  line-height: 17px;
  text-transform: uppercase;
}
.name {
  color: #FFFFFF;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  margin-top: 1rem;
  text-transform: uppercase;
}
.description {
  color: #D0D6F9;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  margin: 19px auto 0 auto ;
  width: 80%;
}


@media(min-width: 700px) {
  /* NavBarComponent */
  .nav-row {
    padding: 0;
    width: 100%;
  }
  .nav-logo {
    margin-left: 34px;
  }
  .desktop-menu {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    color: #fff;
    padding: 2.84375em 2em 0 2em;
  }
  .desktop-menu ul {
    display: flex;
    list-style: none;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
  }
  .desktop-menu ul li {
    margin-right: 2em;
    padding-bottom: 2.5em;
    
  }
  .desktop-menu ul li:hover {
    border-bottom: 3px solid #fff;
  }
  .desktop-menu ul li a {
    color: #FFF;
    text-decoration: none;
  }
  .mobile {
    display: none;
  }

  /* HeroComponent */
  .hero {
    background-image: url('/public/assets/home/background-home-tablet.jpg');
    background-position: center;
  }
  .hero-text {
    padding-top: 1em;
  }

  .hero-text-first {
    color: #D0D6F9;
    font-size: 1.5rem;
    letter-spacing: 3.375px;
    line-height: 24px;
  }
  .hero-space-title {
    font-size: 9.375rem;
    font-weight: 400;
    line-height: 100px;
    padding: .16em 0;
    text-transform: uppercase;
  }
  .hero-text-second {
    margin: 0 auto;
    width: 60%; 
  }
  .explore {
    font-size: 2rem;
    line-height: 37px;
    letter-spacing: 2px;
    padding: 103px 48px 102px 46px;
    margin-top: 106px;
  }

  /* DestinationComponent */
  .bg-destinations {
    background-image: url("/public/assets/destination/background-destination-tablet.jpg");
    background-position: center;
  }
  .pick-destination {
    font-size: 1.25rem;
    letter-spacing: 3.375px;
    line-height: 24px;
    text-align: left;
  }
  .pick-destination span {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 3.375px;
    line-height: 24px;
  }
  .map-destination {
    display: inline-block;
  }
  .text-destinations {
    padding-top: 6.8em;
    text-align: center;
  }
  .img-destination {
    margin-top: 40px;
    margin-bottom: 53px;
    width: 300px;
    height: 300px;
  }
  .map-destination {
    width: 11.5%;
  }
  .map-destination ul li {
    color: #fff;
    letter-spacing: 2.7px;
    padding-bottom: .5em;
  }
  .map-destination ul li:hover {
    border-bottom: 4px solid #fff;
  }
  .name-destination {
    font-size: 5rem;
    line-height: 92px;
    margin-top: 10px;
  }
  .description {
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .top-line {
    border-top: 1px solid #383B4B;
    padding: 1.3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .avg-distance {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.3625px;
    line-height: 17px;
    text-transform: uppercase;
    padding-bottom: 0em;
  }
  .destination-distance {
    color: #fff;
    font-family: 'Bellefair', serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
  }
  .est-travel {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.3625px;
    line-height: 17px;
    text-transform: uppercase;
    padding-top: 0em;
    padding-bottom: 12px;
  }
  .destination-travel {
    color: #fff;
    font-family: 'Bellefair', serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
  }
}