@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('/public/assets/home/background-home-mobile.jpg');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

/* NavBarComponent */
.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0 3em 0;
}

.mobile-menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  position: absolute;
  top: 0;
  right: 0;
  width: 254px;
  height: 100vh;
  overflow: hidden;
}
.close-icon {
  position: relative;
  top: 40px;
  right: -90px;
}
.mobile-menu-div {
  /* border: 1px solid red; */
  position: relative;
  top: 11.5%;
  width: 85%;
  margin-left: auto;
}
.mobile-menu-div ul {
  list-style: none;
  text-align: left;
}
.mobile-menu-div span {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.mobile-menu-div li {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  margin-bottom: 2em;
  text-transform: uppercase;
}
.mobile-menu-div li:hover {
  border-right: 4px solid #fff;
  height: 21px;
}

/* HeroComponent */
.hero-text-first {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  line-height: 19px;
  text-transform: uppercase;
}
.hero-space-title {
  color: #fff;
  font-family: 'Bellefair', serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 100px;
  padding: .2em 0;
  text-transform: uppercase;
}
.hero-text-second {
  color: #D0D6F9;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
}
.explore {
  border: none;
  border-radius: 100%;
  background-color: #fff;
  color: #0B0D17;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 23px;
  letter-spacing: 1.25px;
  padding: 68px 27.5px 59px 29.5px;
  margin-top: 81px;
  text-transform: uppercase;
}

